/*---------------General-----------------*/

* {
    box-sizing: border-box;
    
}

@font-face {
    font-family: Gotham;
    src: url(./fonts/BOLD/HomepageBaukasten-Bold.ttf);
}

@font-face {
    font-family: Helveticaneue ;
    src: url(./fonts/Helvetica\ Neue\ LT\ Com\ 57\ Condensed.ttf);
}


body {
    font-size: 62.5%;
    margin: 0 auto;
    font-family: 'Gotham', 'Helveticaneue';
    
    
    
} 

.flex {
    display: flex;
}

h6 {
    font-size: 0.5rem;
}

.larg-screen, .s-425, .xl-screen, .md-screen , .l-screen{
    display: none;
}

.grid {
    display: grid;
}

/*-------------header------------*/ 
.logo-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
s-header-logo {
    justify-content: center;
    align-items: center;
}

.s-header-logo img {
    height: 7rem;
    justify-content: center;
    align-items: center;
}    

.search-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./graphics/background.png);
    background-size: cover;
    height: auto;
    width: auto;
    
}

.search-header-forms {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.s-header-text h7 {
    color: #ffffff;
    font-size: .9rem;
    font-weight: lighter;
}

.s-dep, .s-item, .s-city {
    margin: .5rem   ;
    padding: .5rem;
    height: 2rem;
}


.s-search button {
    height: 2rem;
    width: 5rem;
    background-color: #383838;
    color: #888888;
    border: none;
}

/*---------------------grid-------------*/

.search-container {
    display: grid;
    grid-template: 1fr / 1fr 3fr; 
    width: auto;
    height: auto;
    border-bottom: solid 1px #888888;
    background-color: #8888881c;
    
}

/*--------------search---------------*/

.s-search {
    border-right: 1px solid #88888841 ;
}

.s-search h4 {
    line-height: 1rem;
}

.buy-sell {
    margin: 1rem;
}

.buy-sell, .make, .type {
    color: #888888;
}

.make h4, .type h4 {
    color: #383838;
}

.make {
     margin: 1rem;
     grid-template-rows: 1fr 4fr;
     
}

.make a {
    text-decoration: none;
    color: #888888;
}
.make h4 {
     border-bottom: 1px solid #88888841;
}

.model {
    margin: 1rem;
    grid-template-rows: 1fr 1fr;

}

.type {
    margin: 1rem;
    grid-template-rows: 1fr 1fr;
}

.type h4 {
    border-bottom: 1px solid #88888841;
}


.model h4 {
    border-bottom: 1px solid #88888841;
}

/*-------------result--------------*/

.result {
    margin: 1rem;
}

.s-car {
    border-top: 1px solid #88888841;
    border-bottom: solid 1px  #88888841;
    margin: 0 0 00.5rem 0;
}

.s-car:hover {
    cursor: pointer;
    background-color: #ffffff;
}.s-img {
    position: relative;
}

.abs {
    position: absolute;
    background-color: #383838;
    color: #d35266;
    width: 2rem;
    height: 1rem;
    justify-content: space-around;
    align-items: center;
    right: .5rem;
    bottom: .5rem;
}


.s-img img {
    margin: .5rem;
    width: 10rem;
}

.search-f-section {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.search-text {
    flex-direction: column;

}

.search-text p {
    font-size: 0.6rem;
    color: #888888;
}

.s-used {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.s-used button {
    color: #ffffff;
    background-color: #d35266;
    border: none;
    height: 1.5rem;
    margin: .7rem;
}

.s-text {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.s-text  {
    color: #d35266;
    margin: .5rem;
    
}



/*-------------navi-----------------*/

.navi {
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    
}

.navi a {
    margin: .2rem;
    text-decoration: none;
    border: 1px solid #888888;
    width: .8rem;
    text-align: center;
    color: #888888;

}

.navi a:hover {
    cursor: pointer;
    background-color: #d35266;
}

.navi a:focus {
    background-color: #d35266;
}

.cat-nav {
    flex-wrap: wrap;
}

@media (min-width: 424px) {
    .search-container {
        display: grid;
        grid-template: 2fr / 1fr 3fr; 
    }
    
    .s-img img {
        margin: .5rem;
        width: 12rem;
    }
}

@media (min-width: 524px) {
    .search-f-section {
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;
    }

    .cat-nav {
        flex-wrap: wrap;
    }   
}

@media (min-width: 624px) {
    
    .l-screen {
        display: none;
    }

    .search-header {
        justify-content: center;
        align-items: flex-start;
        height: 10rem;
        
    }

    .search-header-forms {
        flex-direction: row;
        align-items: center;
        margin: 0.5rem auto 1.5rem  .5rem;
    }

    .logo-text {
        margin: 0 1rem;
        justify-content: start;
        align-items: flex-start;
    }
    
    .s-dep, .s-item, .s-city {
        margin: .05rem   ;
        padding: .5rem;
        height: 2rem;
    }
    
    .select {
        padding: .5rem;
        margin: -.5rem;
        height: 2rem;
        width: 10rem;
    }
    
    
    .search button {
        height: 2rem;
        width: 5rem;
        margin: .5rem;
        background-color: #383838;
        color: #888888;
        border: none;
    }
}



@media (min-width: 767px) {
    .larg-screen {
        display: flex;
        
    }

    .l-screen {
        display: none;
    }

    .search-header {
        justify-content: center;
        align-items: flex-start;
        height: 10rem;
        
    }

    .logo-text {
        margin: 0 1rem;
        justify-content: start;
        align-items: flex-start;
    }
    
    .search-header-forms {
        flex-direction: row;
        align-items: center;
        margin: 0.5rem auto 1.5rem  .5rem;
    }
    
    .s-dep, .s-item, .s-city {
        margin: .05rem   ;
        padding: .5rem;
        height: 2rem;
    }
    
    .s-search button {
        height: 2rem;
        width: 5rem;
        margin: .5rem;
        background-color: #383838;
        color: #888888;
        border: none;
    }

}

@media (min-width: 1023px) {
    .l-screen {
        display: flex;
        
    }

    .navbar1 {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #383838;
    }

}
